.App {
  /* margin: auto 10vw; */
  /* background-color: black; */
  height: 100%;
}

.indent {
  margin-left: 5vw;
}

h1 {
  text-align: center;
}

.about {
  margin: auto 5vw;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

  /* width: 80vw; */
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto 2vw;
}

.skill-image {
  width: 100px;
  height: auto;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

  /* width: 80vw; */
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin: auto 2vw; */
  margin: 20px 2px 0 2px;
  height: 290px;
  width: 435px;
}

.project-image {
  /* height: 25vh;
  width: auto; */
  width: 435px;
}

.project-card-inner {
  position: absolute;
  height: 290px;
  width: 435px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(240, 234, 234, 0.2);
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front, .project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.project-card-front {
  background-color: #bbb;
  color: black;
}

.project-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  overflow: scroll;
}

.project-card-back p {
  margin: auto 10px;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
