.App {
  height: 100%;
}

.intro {
  margin: auto 30vw;
}

.indent {
  margin-left: 5vw;
}

h1 {
  text-align: center;
}

.about {
  margin: auto 5vw;
}

.skills-container, .contacts-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

  margin: 0 5vw;
}

.skill-card, .contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto 2vw;
}

.skill-image, .contact-image {
  width: 100px;
  height: auto;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2vh 1vw 0 1vw;
  height: 305px;
  width: 435px;
}

.project-image {
  width: 435px;
  height: auto;
}

.project-card-inner {
  position: absolute;
  height: 305px;
  width: 435px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(240, 234, 234, 0.2);
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front, .project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.project-card-front {
  background-color: #bbb;
  color: black;
}

.project-card-back {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  align-content: space-between;

  background-color: black;
  color: white;
  transform: rotateY(180deg);
  overflow: scroll;
}

.project-card-back p {
  margin: auto 10px;
  text-align: left;
}

.project-card-back h4 {
  margin: auto 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;

  margin: 10px;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  height: 50vh;
  overflow: scroll;
  margin: auto 5vw;
  border: 1px solid black;
}

.resume-image {
  margin-left: 2vw;
  width: 90%;
}

.resume a {
  margin: 1vh auto;
}

@media (max-width: 500px) {
  .project-card {
    height: 65vw;
    width: 90vw;
    /* margin-bottom: 5vw; */
  }
  
  .project-image {
    width: 90vw;
    height: auto;
  }
  
  .project-card-inner {
    position: absolute;
    height: 66.5vw;
    width: 90vw;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(240, 234, 234, 0.2);
  }
}